<!DOCTYPE html>
<html>
  <head>
    <title>TestTurbo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag :top_bar, src: top_bar_index_path %>

    <%= render 'layouts/main' do %>
      <%= yield %>
    <% end %>
  </body>
</html>
