<!DOCTYPE html>
<html>
  <head>
    <title>TestTurbo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag :side_bar do %>
      <p> TODO: Create a reactive sidebar using Turbo! </p>
    <% end %>

    <%= turbo_frame_tag :main_content do %>
      <%= yield %>
    <% end %>
  </body>
</html>
